<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/style/signup-signin.css">
    <title>Sign in / Sign Up</title>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <!-- Sign in form -->
                <form action="#" class="signin-form">
                    <h2 class="title">Sign In</h2>
                    <div class="input-container">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="input-container">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password">
                    </div>
                    <input type="submit" value="Login" class="btn solid">
                    <!--SIGN IN SOCIAL / @Altersplatz-->
                    <p>Or Login with your social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                </form>
                <!--Sign Up Form-->
                <form action="#" class="signup-form">
                    <h2 class="title">Sign Up</h2>
                    <div class="input-container">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="input-container">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Email">
                    <div class="input-container">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="input-container">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Confirm Password">
                    </div>
                    <input type="submit" value="Sign Up" class="btn solid">
                    <!--SIGN UP SOCIAL / @Altersplatz-->
                    <p>Or Signup with your social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <!--TODO--> 
        <!-- <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here? Sign Up and Continue!</h3>
                    <button class="btn transparent" id="signup-btn">
                        Sign Up
                    </button>
                </div>
                <div class="panel right-panel">
                    <div class="content">
                        <h3>Already Signed Up? Login in to your account!</h3>
                        <button class="btn transparent" id="signin-btn">
                            Sign In
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <script src="../../app.js"></script>
</body>
</html>