<!DOCTYPE html>
<html lang="en">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">

        <link rel="stylesheet" href="../../public/style/styles.css">
        <title>AaRat Games Official</title>
    </head>
    <body>
        <div class="header">
            <ul class="nav justify-content-center">
                <li class="nav-item"></li>
                <li class="nav-item">
                    <a href="../login/signin-signup.ejs">
                        <button type="button" class="btn btn-info btn1">Login</button>
                    </a>
                </li>
            </ul>
            <!--SITE-->
            <h1 class="heading1">AaRat Games Official</h1>
            <div class="game">
                <div class="typing-demo">
                    <h3>A totally Original Game ASDF</h3>
                </div>
            </div>
        </div>
    </body>
</html>
